### Soru 1
- Altta verilen kod parcasi ile dataframe'i olusturun. Ve ardindan df.info() ile kolonlarin veri tipini goruntuleyin.
  - Dataframein basarili bir sekilde olustugunu goreceksiniz. Yaslar kolonunu kontrol ettiginizde type olarak 'object' gorunuyor. Uygun duzeltme islemini gerceklestirip yaslar kolonunu 'integer' olarak guncelleyin.
  Ipucu kullanimlar: 
```python
  df['yaslar']
  yas = yas.replace('x', '')
  df['yaslar'].astype( TYPE )
```


```py
df = pd.DataFrame({
    'isimler': ['ali', 'arya', 'betul', 'nil'],
    'yaslar': [15, 20, '22', '22a']
})

df.info()

df
```

In [ ]:
# Cevap

### Soru - 2
Alttaki kodu calistirip dataframe'i olusturun. 
Dataframede indexlerin sirasinda bir sorun gorunuyor. Bu sorunu asip indexleri 
#### 2.1

0,1,2,3 seklinde ayarlayin.
#### 2.2 
isimler kolonunu dataframe'e index olarak atayin

In [ ]:
df = pd.DataFrame({
    'isimler': ['ali', 'arya', 'betul', 'nil'],
    'yaslar': [15, 20, 22, 22]
}, index = [0, 1, 3, 4])

df

  isimler  yaslar
0     ali      15
1    arya      20
3   betul      22
4     nil      22

In [ ]:
# Cevap

### Soru - 3
##### 3.1
- Acc_shelter_outcomes.csv dosyasini okuyunuz.
##### 3.2
- animal_id kolonunu index olarak atayiniz.
##### 3.3
- Her kolonda toplam kacar tane Null deger oldugunu bulunuz.
##### 3.4
- Null degerleri 'Eksik Deger' ile doldurunuz.
##### 3.5 
- age_upon_outcome degeri '2 week' olan islemleri filtreleyiniz.
##### 3.6
- Siyah Kedileri filtreleyiniz
  - Renk bilgisi ve hayvan turu bilgisi farkli kolonlarda bulunuyor.
##### 3.7
- Verisetindeki duplicated satir sayisini bulunuz.
##### 3.8
- Hangi hanvan turunden kacar satir veri var bulunuz.
  - ipucu: groupby()
##### 3.9
- Kedilerin sadece age_upon_outcome bilgilerini getiriniz.

In [1]:
# Cevap